pre {
  line-height: 22px;
  background: white;
  display: block;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  tab-size: 2;
  border: 1px solid;
  font-family: consolas;

  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.code {
  position: relative;
}

#wpbody-content,
body,
p {
  font-family: Arial;
}

#wpfooter {
  display: none;
}

#wpbody {
  padding: 20px 20px 20px 20px !important;
}

#adminmenuwrap {
  margin: 0 !important;
}

.tablenav .actions select {
  padding: 2px 30px 2px 15px !important;
}

.open-html {
  position: absolute;
  padding: 6px;
  border: 1px solid;
  border-radius: 5px;
  top: 10px;
  right: 10px;
}

.open-html:hover {
  background: skyblue;
  outline: 2px solid;
}

body {
  background-color: #f0f0f1;
  max-width: 1300px;
  margin: auto;
  display: flex;
}

table td,
table,
table th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table {
  margin: 15px 0;
}

q {
  quotes: "`" "`";
  font-weight: bold;
  font-family: consolas;
  background: whitesmoke;
  border-radius: 5px;
  padding: 2px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
  font-family: Arial;
  color: darkblue;
  margin: 5px 0 5px;
}

nav {
  background-color: skyblue;
  padding: 5px;
  flex-basis: 300px;
  overflow: auto;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-basis: 220px;
  flex-shrink: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;

}

nav li a {
  background-color: #ffe8bd;
  padding: 10px;
  display: block;
  margin: 2px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover {
  background-color: #ffbd45;
  outline: 2px solid;
  cursor: pointer;
}

main {
  padding: 10px;
  flex-basis: 1000px;
}

header {
  display: flex;
  justify-content: center;
  background: skyblue;
  padding: 5px;
  margin: -10px -10px 0 -10px;
}

header a {
  padding: 10px;
  background: darkgreen;
  color: white;
  text-decoration: none;
  margin: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

main ol li {
  font-weight: bold;
  line-height: 30px;
}

main ol li a {
  text-decoration: none;
}

main ol li a:hover {
  color: rgb(163, 0, 0);
}