<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Django</title>
	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<main>
		<h1>Create project</h1>
		install django in you computer ( once )
		<pre>pip install django</pre>
		<p>Go to particular folder where you want to work</p>
		<pre>django-admin startproject project1 .</pre>
		<p>Run server / start django website</p>
		<pre>python manage.py runserver</pre>
		<blockquote>
			<p><b>Run server in Local network</b></p>
			<pre>python manage.py runserver 0.0.0.0:8000</pre>
			<p>Allow host in <b>Project settings.py</b></p>
			<pre>ALLOWED_HOSTS = ["*"]</pre>
		</blockquote>
		<hr>
		<h1>Create app (optional)</h1>
		<blockquote>
			<pre>python manage.py startapp app1</pre>

			<p>project ⟹ urls.py ⟹ top</p>
			<pre>from django.urls import include</pre>
			<p>project ⟹ urls.py ⟹ inside urlpatterns list</p>
			<pre>path("", include("app1.urls")),</pre>
		</blockquote>

		<h2>Connect a VIEW to an URL</h2>
		<p>Project / App folder ⟹ <q>urls.py</q></p>
		<pre>from . import views
urlpatterns = [
    path("", views.home, name="home"),
]</pre>

		<h2>Output HTML directly</h2>
		<p>Project / App folder ⟹ <q>views.py</q></p>
		<pre>from django.http import HttpResponse
def home(request):
	return HttpResponse("&lt;h1&gt;Hello world&lt;h1&gt;")
</pre>

		<h2>Output HTML using template</h2>

		<p><b>Project</b> ⟹ settings.py</p>
		<pre>import os</pre>
		<p><b>Project</b> ⟹ <b>settings.py</b> ⟹ TEMPLATES ⟹ DIR list []</p>
		<pre>os.path.join(BASE_DIR, 'templates')</pre>

		<p>Add this to <b>views.py</b> in app folder</p>
		<pre>from django.shortcuts import render
def home(request):
	return render(request, "home.html")
</pre>

		<h2>Send data from backend to front-end</h2>
		<pre>def home(request):
	data = {
		"name" : "Rahul",
		"age" : "30",
		"city" : "HYD"
	}
	return render(request, "home.html", data)
</pre>
		<p>In your HTML file use this</p>
		<pre>{{name}} is {{age}} year old, lives in {{city}}</pre>

		<h1>Using <q>base.html</q> Django Template Language: DLT</h1>
		<p>templates ⟹ base.html</p>
		<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
	&lt;title&gt;Hello&lt;/title&gt;
&lt;/head&gt;
&lt;body bgcolor="skyblue"&gt;
	{% include 'header.html' %}
	{% block content %}
	{% endblock %}
	{% include 'footer.html' %}
&lt;/body&gt;
&lt;/html&gt;
</pre>

		<p>templates ⟹ home.html</p>
		<pre>
{% extends 'base.html' %}

{% block content %}
	
&lt;h1&gt;Hello world!!!&lt;/h1&gt;

{% endblock %}
</pre>
		<p>templates ⟹ header.html</p>
		<pre>
&lt;header&gt;
	&lt;nav&gt;
		&lt;ul&gt;
			&lt;li&gt;Home&lt;/li&gt;
			&lt;li&gt;About&lt;/li&gt;
			&lt;li&gt;Services&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/nav&gt;
&lt;/header&gt;
</pre>
		<p>templates ⟹ footer.html</p>
		<pre>All rights reserved.</pre>
		<p>Similarly create about.html, contact.html etc</p>

		<h1>Form Handling</h1>
		<h2>django pass data from view to template</h2>
		add this in views.py
		<pre>def home(request):
	context = {
		"phone": request.POST.get('phone','default'),
	}
	return render(request, "home.html", context)</pre>
		in template html file:
		<pre>{{phone}}</pre>

		<p>get and post request:</p>
		<pre>if request.method == 'GET':
	pass
elif request.method == 'POST':
	pass
</pre>

		<p>For method POST: add this inside form</p>
		<pre>{% csrf_token %}</pre>

		<h2>Example Login Form</h2>
		<pre>
&lt;form method="POST">
	{% csrf_token %}
	Phone: &lt;input type="text" name="phone">&lt;br>&lt;br>
	Password: &lt;input type="password" name="pwd">&lt;br>&lt;br>
	&lt;input type="submit">
&lt;/form>
You entered: {{phone}}
</pre>

		<h1>CRUD Operations</h1>
		<h2>Create new table</h2>
		<p>Check if the table exists:</p>
		<pre>
if ('books',) not in tables:
	cur.execute("""CREATE TABLE books
	(id INTEGER NOT NULL,
	book TEXT NOT NULL,
	year INT NULL,
	price INT NULL,
	PRIMARY KEY("id" AUTOINCREMENT)
	);""")
</pre>

		<h2>Insert Row</h2>
		<pre>
if req.POST.get("add_book"):
	book = req.POST.get("book")
	year = req.POST.get("year")
	price = req.POST.get("price")
	data = (book, year, price)
	cur.execute("INSERT INTO books (book,year,price) VALUES (?,?,?)", data)
	con.commit()
</pre>

		<h2>Delete Row</h2>
		<pre>
if req.POST.get("delete"):
	id = req.POST.get("id")
	cur.execute("DELETE FROM books WHERE id = ?" , id)
	con.commit()
</pre>

		<h2>Select rows</h2>
		<pre>
books = cur.execute("SELECT * FROM books").fetchall()
data = {
	"books" : books
}
return render(request, "books.html", data )
</pre>

		<h2>Show in HTML template:</h2>
		<pre>
&lt;table border="1">
	{% for book in books %}
	&lt;tr>
		&lt;td>{{book.1}}&lt;/td>
		&lt;td>{{book.2}}&lt;/td>
		&lt;td>{{book.3}}&lt;/td>
		&lt;td>
			&lt;form action="" method="post">
				{% csrf_token %}
				&lt;input type="hidden" name="id" value="{{book.0}}">
				&lt;input type="submit" name="delete" value="Delete">
			&lt;/form>
		&lt;/td>
	&lt;/tr>
	{% endfor %}
&lt;/table>
</pre>

		<h2>Static Files</h2>
		<p><q>settings.py</q> add this line at the bottom</p>
		<pre>STATIC_URL = "static/"
STATICFILES_DIRS = [
	BASE_DIR / "static"
]</pre>
<p>In your HTML file:</p>
<pre>{% load static %}
&lt;img src="{% static 'images/logo.png' %}" alt="My image"></pre>

		<script src="../menu.js"></script>
	</main>
</body>
</html>