<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Django</title>
	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<main>
		<h1>Create project</h1>
		install django in you computer ( once )
		<pre>pip install django</pre>
		<p>Go to particular folder where you want to work</p>
		<pre>django-admin startproject project1 .</pre>
		<p>Run server / start django website</p>
		<pre>python manage.py runserver</pre>
		<blockquote>
			<p><b>Run server in Local network</b></p>
			<pre>python manage.py runserver 0.0.0.0:8000</pre>
			<p>Allow host in <b>Project settings.py</b></p>
			<pre>ALLOWED_HOSTS = ["*"]</pre>
		</blockquote>
		<hr>
		<h1>Create app (optional)</h1>
		<blockquote>
			<pre>python manage.py startapp app1</pre>

			<p>project ⟹ urls.py ⟹ top</p>
			<pre>from django.urls import include</pre>
			<p>project ⟹ urls.py ⟹ inside urlpatterns list</p>
			<pre>path("", include("app1.urls")),</pre>
		</blockquote>

		<h2>Connect a VIEW to an URL</h2>
		<p>Project / App folder ⟹ <q>urls.py</q></p>
		<pre>from . import views
urlpatterns = [
    path("", views.home, name="home"),
]</pre>

		<h2>Output HTML directly</h2>
		<p>Project / App folder ⟹ <q>views.py</q></p>
		<pre>from django.http import HttpResponse
			def home(request):
			return HttpResponse("&lt;h1&gt;Hello world&lt;h1&gt;")
</pre>

		<h2>Output HTML using template</h2>

		<p><b>Project</b> ⟹ settings.py</p>
		<pre>import os</pre>
		<p><b>Project</b> ⟹ <b>settings.py</b> ⟹ TEMPLATES ⟹ DIR list []</p>
		<pre>os.path.join(BASE_DIR, 'templates')</pre>

		<p>Add this to <b>views.py</b> in app folder</p>
		<pre>from django.shortcuts import render
def home(request):
	return render(request, "home.html")
</pre>

		<h2>Send data from backend to front-end</h2>
		<pre>def home(request):
	data = {
		"name" : "Rahul",
		"age" : "30",
		"city" : "HYD"
	}
	return render(request, "home.html", data)
</pre>
		<p>In your HTML file use this</p>
		<pre>{{name}} is {{age}} year old, lives in {{city}}</pre>

		<h1>Using <q>base.html</q> Django Template Language: DLT</h1>
		<p>templates ⟹ base.html</p>
		<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
	&lt;title&gt;Hello&lt;/title&gt;
&lt;/head&gt;
&lt;body bgcolor="skyblue"&gt;
	{% include 'header.html' %}
	{% block content %}
	{% endblock %}
	{% include 'footer.html' %}
&lt;/body&gt;
&lt;/html&gt;
</pre>

		<p>templates ⟹ home.html</p>
		<pre>
{% extends 'base.html' %}

{% block content %}
	
&lt;h1&gt;Hello world!!!&lt;/h1&gt;

{% endblock %}
</pre>
		<p>templates ⟹ header.html</p>
		<pre>
&lt;header&gt;
	&lt;nav&gt;
		&lt;ul&gt;
			&lt;li&gt;Home&lt;/li&gt;
			&lt;li&gt;About&lt;/li&gt;
			&lt;li&gt;Services&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/nav&gt;
&lt;/header&gt;
</pre>
		<p>templates ⟹ footer.html</p>
		<pre>All rights reserved.</pre>
		<p>Similarly create about.html, contact.html etc</p>

		<h1>Form Handling</h1>
		<h2>django pass data from view to template</h2>
		add this in views.py
		<pre>def home(request):
	context = {
		"phone": request.POST.get('phone','default'),
	}
	return render(request, "home.html", context)</pre>
		in template html file:
		<pre>{{phone}}</pre>

		<p>get and post request:</p>
		<pre>if request.method == 'GET':
	pass
elif request.method == 'POST':
	pass
</pre>

		<p>For method POST: add this inside form</p>
		<pre>{% csrf_token %}</pre>

		<h2>Example Login Form</h2>
		<pre>
&lt;form method="POST">
	{% csrf_token %}
	Phone: &lt;input type="text" name="phone">&lt;br>&lt;br>
	Password: &lt;input type="password" name="pwd">&lt;br>&lt;br>
	&lt;input type="submit">
&lt;/form>
You entered: {{phone}}
</pre>
		<script src="../menu.js"></script>
	</main>
</body>
</html>